@media(max-width:1200px){
    html{
        font-size: 15px;
    }
    .hero-section {
        height: 60vh;
    }
}

@media(max-width:991px){
    .navbar-toggler:focus {
        outline: 0;
        box-shadow: none;
    }
    /* .navbar-collapse {
        padding-top: 20px;
    } */
    .navbar-nav {
        margin-top: 20px;
        align-items: end;
    }
    .site-header  .navbar-expand-lg .navbar-nav .nav-link {
        text-align: right;
        transition: all 0.3s linear;
}
.link-card {
    margin-bottom: 25px;
}
.dropdown-item {
    text-align: right;
}

}

@media(max-width:850px){
    .about-sec .col-md-6 {
        width: 100%;
    }
    .about-sec .row{
        flex-direction: column-reverse;
    }
    .about-img {
        height: 350px;
        margin-bottom: 20px;
    }
    .ptb-50 {
        padding: 30px 0;
    }
    .pb-50 {
        padding-bottom: 30px;
    }
    .hero-section.sub-banner {
        height: 400px;
    }
    .sub-banner .hero-text h1 {
        font-size: 2.3rem;
    }
    .hero-text h1 {
        font-size: 3rem;
    }
}
@media(max-width:767px){
    .site-header .navbar-brand img {
        max-width: 200px;
    }
    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }
    .hero-text h1 {
        padding: 0 10px;
        word-break: break-all;
        text-align: center;
    }
    .footer-logo img {
        max-width: 200px;
    }
    .site-footer .col-md-4 {
        margin-bottom: 25px;
    }
    .site-footer .col-md-4:last-child{
        margin-bottom: 0;
    }
    .footer-heading h4 {
        margin-bottom: 5px;
    }
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media(max-width:575px){
    .hotel-img {
        height: 250px;
    }
    .hero-text h1 {
     letter-spacing: 0;
     font-size: 2.5rem;
    }
    .hero-section {
        height: 50vh;
    }
  
}
@media(max-width:375px){
    .about-img {
        height: 300px;
    }
    .site-header .navbar-brand img {
        max-width: 170px;
    }
    .sub-banner .hero-text h1 {
        font-size: 1.7rem;
    }
}