@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* global css start here */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* background-color: var(--bg); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Archivo", sans-serif;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Archivo", sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

.pt-50 {
    padding-top: 50px;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-70 {
    padding: 70px 0;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-70 {
    padding-bottom: 70px;
}

p {
    color: #575757;
}

/* global css end here */

/* header css start */
.site-header .navbar-brand img {
    max-width: 250px;
}

.site-header .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.site-header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.125rem;
    color: #000;
}

.site-header .navbar-expand-lg .navbar-nav .nav-link:hover, .site-header .navbar-expand-lg .navbar-nav .nav-link.active {
    color: #1e516e;
}

.site-header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.site-header {
    padding: 15px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

.fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

/* header css end */


/* hero section css start */
.hero-section {
    background-image: url(../images/banner2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

.hero-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text h1 {
    font-size: 3.125rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* hero section css end */

/* about section css start */
.about-img {
    height: 100%;
    width: 100%;
}

.about-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-text p {
    font-size: 1rem;
}


/* about section css end */

/* link card section css start */
.link-img {
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.link-img:hover img {
    transform: scale(1.3);

}

.link-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s linear;

}

.link-text a {
    font-size: 1.25rem;
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: 100%;
    background: #1e516e;
    color: #fff;
    font-weight: 500;
    line-height: 1.1;
}

/* link card section css end */

/* footer section css start  */
.site-footer {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer-logo img {
    max-width: 250px;
}

.footer-heading h4 {
    font-size: 1.5625rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #000;
}

.footer-links ul li a {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
}

.footer-links ul li {
    padding: 4px 0;
    position: relative;
    transition: all 0.3s linear;

}

.footer-links ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    height: 7px;
    width: 0px;
    background-color: #000;
    transform: translateY(-50%);
    transition: all 0.3s linear;

}

.footer-links ul li:hover {
    padding-left: 20px;
}

.footer-links ul li:hover::before {
    width: 7px;
}

.copy-right {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.copy-right p {
    font-size: 1rem;
    margin-bottom: 0px;
}

/* footer section css end */


/* sub pages css start */
.hero-section.sub-banner {
    height: 500px;
}

.sub-banner .hero-text h1 {
    font-size: 2.5rem;
}

.moretext {
    display: none;
}

.article p {
    font-size: 1rem;
    margin-bottom: 10px;
}

a.moreless-button {
    font-size: 1.125rem;
    color: #1e516e;
    text-decoration: underline;
}

.hotel-text h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
    line-height: 1.1;
    color: #000;
}

.hotel-text ul li {
    font-size: 0.875rem;
    padding: 4px 0;
}

.hotel-text ul {
    padding-left: 20px;
    list-style: disc;
    margin: 10px 0;
}

.vist-site a {
    font-size: 1rem;
    display: inline-block;
    color: #1e516e;
    margin-top: 10px;
}

.vist-site a:hover {
    text-decoration: underline;
}

.hotel-img {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.hotel-img:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.hotel-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s linear;

}

.hotel-wrap {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
    position: relative;
}
.vist-site {
    position: absolute;
    bottom: 15px;
}
.hotel-text {
    padding: 15px 10px;
    padding-bottom: 40px;
}

.hotel-main .col-xl-4,
.hotel-main .col-xl-6 {
    margin-bottom: 25px;
}

.hotel-text p {
    font-size: 0.875rem;
    margin-bottom: 5px;
    margin-top: 10px;
}

.article h3 {
    font-size: 1.375rem;
    margin-bottom: 10px;
    color: #000;
}

.contact-wrap p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.contact-wrap p strong {
    color: #000;
}

.contact-wrap {
    margin-bottom: 30px;
}

.contact-wrap:last-child {
    margin-bottom: 0;
}

.footer-about p {
    font-size: 1rem;
    margin-top: 20px;
    max-width: 80%;
    color: #000;
}

.privacy-wrap p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.privacy-wrap p strong {
    color: #000;
}

.privacy-wrap ul {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;
}

.privacy-wrap ul li {
    padding: 2px 0;
}

.privacy-wrap {
    margin-bottom: 30px;
}

.privacy-wrap:last-child {
    margin-bottom: 0;
}
.contact-wrap p a {
    font-weight: 500;
    color: #000;
}
/* sub pages css end */




